.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center h1 {
  @apply text-4xl mb-4 font-extrabold;
}
.center p {
  text-align: center;
}

