.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 750px) {
  .main {
    padding: 2rem;
  }
  .center{
    min-width: auto !important;
  }
}

.center {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  align-items: center;
  @apply text-base;
}

.center h1 {
  @apply text-4xl mb-4 font-extrabold;
}

.center p {
  text-align: center;
  max-width: 400px;
  @apply text-[#201e23];
}

.logo{
  @apply mb-6;
}
